.good,
.bad,
.neutral {
    width: 60px;
    height: 30px;
}

.good {
    background-color: green;
    margin-right: 20px;
}

.bad {
    background-color: red;
}

.neutral {
    background-color: yellow;
    margin-right: 20px;
}